# Eintopf config
# Get Authorization token through login request
# http://localhost:3333/api/v1/swagger#/auth/login

variables:
  eintopf_url: "https://karlsunruh.project-insanity.org"
  radar_group_id: "436012"
  authorization_token: "YOUR_SECRET_TOKEN"

eintopf:
  api_endpoint: "$eintopf_url/api/v1/events/"
  headers:
    Authorization: "$authorization_token"
    Content-Type: "application/json"

radar:
  api_endpoint: "https://radar.squat.net/api/1.2/search/events.json?fields=title,offline,date_time,body&facets[group][]=$radar_group_id"
